/* === FROM NORMALIZE.CSS -- https://necolas.github.io/normalize.css/ === */

img {
  border-style: none;
}

[hidden] {
  display: none;
}

/* === GENERAL STYLE === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
  color: #000;
}

html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
}

h1 {
  padding: 0 0 20px 0;
  font-size: 6em;
  line-height: .99em;
}

h2 {
  padding: 0 0 20px 0;
  font-size: 3em;
  line-height: .99em;
}

p {
  font-size: 1.5em;
}

/* === HEADER === */

.headerSpace {
  background-color: #000;
  /* min-height/width */
  width: 100%;
  height: 33%;
}

.headerContent {
  height: 100%;
  width: 67%;
  display: block;
  margin: auto;
}

.headerText {
  width: fill;
  margin: auto;
  border: 1px solid #FFF;
}

.headerContent img {
  height: 90%;
  float: left;
}

.headerText h2 {
  color: #FFF;
}

.headerText h1 {
  color: #FFF;
}

/* === MAIN === */

.main {
  width: 100%;
  padding: 5% 16.5%;
  background-color: #FFF;
}

.author {
  color: #808080;
  padding: 0 0 20px 0;
}

/* === ARTICLE === */

.article p {
  text-align: justify;
}

/* === TILES === */

.tile {
  width: 33.33%;
  height: 50vh;
  float:left;
  padding: 0 5% 5% 5%;
  background-color: #800080;
  border: 1px solid #000;
}

.tile:hover {
  opacity: .35;
  background-color: #00FFFF;
  font-color: #000;
}

.tile p {
  font-color: #FFF;
  overflow: hidden;
  text-align: left;
}
