/* === FROM NORMALIZE.CSS -- https://necolas.github.io/normalize.css/ === */

/* html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */

img {
  border-style: none;
}

[hidden] {
  display: none;
}

/* === GENERAL STYLE === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
}

html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: 5em;
  padding-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  padding-left: 2.5%;
  padding-bottom: 20px;
}

p {
  font-size: 1.25em;
  padding-left: 5%;
  padding-bottom: 20px;
}

.pubContainer {
  border-top: 1px solid #808080;
  margin-top: 3em;
  width: 65%;
}

.pubText {
  padding-left: .5em;
  padding-top: .5em;
}

.plainLink {
  text-decoration: none;
  color: #000;
}

a:link {
  color: #000;
}

a:visited, a:active {
  color: #404040;
}

/* === CONTAINERS === */

.main {
  min-height: 100%;
  position: relative;
}

.sidebarContainer {
  overflow: hidden;
  width: 300px;
  height: auto;
  min-height: 500px; /* MUST BE ADJUSTED WHEN YOU ADD NAV ITEMS */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0 !important;
  background-color: #E8E8E8;
  margin-right: 300px;
}

.mainContainer {
  margin-left: 300px;
  background-color: #FFF;
  padding: 3.5%;
  overflow: hidden;
}

.sidebarImage {
  top: 0;
  left: 0;
  position: relative;
  max-width: 300px;
  max-height: 300px;
  background-color: #E8E8E8;
  z-index: 1000;
}

.imageMain {
  overflow: hidden;
  left: 300px;
  max-width: calc(100% - 300px);
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center middle;
  z-index: 10000;
  display: block;
  background-size: cover;
  -webkit-background-size: cover;
}

.imageMainContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background: #FFF url("20170610_150308.jpg") no-repeat fixed center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.imageMainContainerText {
  position: relative;
  margin-left: 300px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.kettles {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  color: #FFF;
}

/* === NAVBAR === */

.navbar {
  top: 200px;
}

.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E8E8E8;
  z-index: 10;
}

.linav {
  float: left;
  padding: 3.5%;
  font-weight: bold;
  font-size: 1.25em;
  width: 100%;
  text-align: center;
}

li.linav a {
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-size: cover;
}

li.linav:hover {
  background-color: #C9C9C9;
}

/* === FOOTER === */
.footer {
  color: #808080;
  font-size: 1em;
  text-align: right;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 300px;
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  /* width: calc(100% - 300px); */
}
