/* === FROM NORMALIZE.CSS -- https://necolas.github.io/normalize.css/ === */

img {
  border-style: none;
}

[hidden] {
  display: none;
}

/* === GENERAL STYLE === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
  color: #000;
}

html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: 3.35em;
  padding: 0 0 1vw 0;
}

p {
  font-size: 1.35em;
  padding: 0 0 1vw 2vw;
}

/* === Main Page === */

.logoContainer {
  display:block;
  margin: auto;
  max-width: 100%;
  padding: 2vw 1vw 2vw 1vw;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  max-height: 25%;
}

.imageButtonContainer {
  margin: auto;
  display: block;
  width: 25%;
  padding: 0 1vw 2vw 1vw;
}

.imageButton {
  background: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.imageButton:hover {
  opacity: .35;
}

/* === NAV === */

.nav {
  padding: 2vw 0 0 2vw;
  font-size: 1.35em;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
}

/* === CONTENT === */

.content {
  padding: 1vw 0 1vw 2vw;
}

/* === WRITINGS === */

.writings ul {
  padding: 0 0 1vw 6vw;
}

.writings li {
  font-size: 1.35em;
}

.writings h2 {
  font-size 2.35em;
  padding: 0 0 0 4vw;
}

/* === POEM === */

.poem {
  color: #000;
}

.poem h1 {
  font-size: 3.35em;
  padding: 0 0 1vw 0;
}

.poem h2 {
  font-size 2.35em;
  padding: 0 0 1vw 2vw;
}

.poem p {
  font-size: 1.35em;
  padding: 0 0 1vw 4vw;
}

.origPub {
  border-top: 1px solid #000;
  margin: 0 0 1vw 4vw;
  width: 55%;
}

.origPub p {
  padding: 1vw 0 1vw 0;
  font-size: 1.35em;
}

.origPub a {
  text-decoration: none;
}

/* === MOBILE === */

@media (max-width: 850px) {

  /* ===== GENERAL STYLE ===== */
  
  h1 {
    padding: 0 0 2vw 0;
  }
  
  p {
    padding: 0 0 2vw 4vw;
  }
  
  /* ===== MAIN PAGE ===== */
  
  .logo {
    max-width: 60%;
    max-height: 60%;
  }

  .imageButtonContainer {
    width: 60%;
  }
  
  /* ===== NAV ===== */
  
  .nav {
    padding: 4vw 0 0 4vw;
  }
  
  /* ===== CONTENT ==== */
  
  .content {
    padding: 4vw 0 2vw 4vw;
  }
  
  /* ===== WRITINGS ===== */
  
  .writings h2 {
    padding: 0 0 0 8vw;
  }
  
  .writings ul {
    padding: 0 0 2vw 14vw;
  }
  
  /* ===== POEM ===== */
  
  .poem h1 {
    padding: 0 0 2vw 0;
  }

  .poem h2 {
    padding: 0 0 2vw 4vw;
  }

  .poem p {
    padding: 0 0 2vw 8vw;
  }

  .origPub {
    margin: 0 0 2vw 8vw;
    width: 80%;
  }

  .origPub p {
    padding: 2vw 0 2vw 0;
  }
  
}

  /* ===== MAIN PAGE LANDSCAPE ==== */

@media (max-width: 850px) and (orientation: landscape) {
  
  .logo {
    max-width: 40%;
    max-height: 40%;
  }

  .imageButtonContainer {
    width: 40%;
  }
  
}
