* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
  color: #000;
}

/* === NAV === */

.nav {
  padding: 2vw 0 1vw 2vw;
  font-size: 1.35em;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
}

/* === POEM FORMAT === */

.poem {
  padding: 1vw 0 1vw 2vw;
}

.poem h1 {
  font-size: 3.35em;
  padding: 0 0 1.5vw 0;
}

.poem h2 {
  font-size 2.35em;
  padding: 1.5vw 0 1.5vw 1.5vw;
}

.poem p {
  font-size: 1.35em;
  padding: 1.5vw 0 1.5vw 3vw;
}

.origPub {
  border-top: 1px solid #000;
  margin: 2.5% 0 2.5% 5%;
  width: 55%;
}

.origPub p {
  padding: 2.5% 0 0 0;
  font-size: 1.35em;
}

/* === COPYRIGHT=== */

.copy {
  margin: 2.5% 0 0 2.5%;
}

.copy p {
  font-size: 1.35em;
}

/* === MOBILE === */
@media (max-width: 850px) {
  
  /* === NAV === */

  .nav {
    padding: 4vw 0 2vw 4vw;
  }
  
  /* === POEM === */
  
  .poem {
    padding: 2vw 0 2vw 4vw;
  }
  
  .poem h1 {
    padding: 0 0 2vw 0;
  }
  
  .poem h2 {
    font-size 2.35em;
    padding: 2vw 0 2vw 2vw;
  }
  
  .poem p {
    font-size: 1.35em;
    padding: 2vw 0 2vw 4vw;
  }
  
  .origPub {
    width: 75%;
    margin: 2vw 0 2vw 4vw;
  }
  
  .origPub p {
    padding: 2vw 0 0 0;
  }
  
}
