* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', Times, serif;
  color: #000;
}

/* === NAV === */

.nav {
  padding: 3vw;
  font-size: 1.35em;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
}

/* === POEM FORMAT === */

.poem {
  padding: 2.5%;
}

.poem h1 {
  font-size: 3.35em;
  padding: 2.5% 0 2.5% 0;
}

.poem h2 {
  font-size 2.35em;
  padding: 2.5% 0 2.5% 5%;
}

.poem p {
  font-size: 1.35em;
  padding: 2.5% 0 2.5% 7.5%;
}

.origPub {
  border-top: 1px solid #000;
  margin: 2.5% 0 2.5% 5%;
  width: 55%;
}

.origPub p {
  padding: 2.5% 0 0 0;
  font-size: 1.35em;
}

/* === COPYRIGHT=== */

.copy {
  margin: 2.5% 0 0 2.5%;
}

.copy p {
  font-size: 1.35em;
}

/* === MOBILE === */
@media (max-width: 850px) {
  
  .origPub {
    width: 75%;
  }
  
}
